.container {
  padding: 20px;
}

.title {
  margin-bottom: 24px;
}

.chiclet, .partial-chiclet {
  margin-right: 4px;
}

.ui.label.left {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.ui.label.middle {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.ui.label.right {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.ui.label, .ui.label > .icon.delete {
  font-weight: 400;
  margin-left: 0;
  margin-right: 0;
}
