.container {
  padding: 20px;
}

.filter-bar {
  display: flex;
}

.suggestions, .chiclets {
  display: flex;
  width: 100%;
}

.chiclets {
  flex-basis: 0;
}

/* chiclets & labels */

.chiclet {
  margin-right: 4px;
  /* flex */
  display: flex;
  min-width: 0;
}

.chiclet.logical-operator > .ui.label.operator {
  color: #2185d0;
  background-color: transparent;
  border: 1px solid transparent;
  padding-left: 3px;
  padding-right: 3px;
}

.chiclet.logical-operator > .ui.label.operator:hover {
  color: #1678c2;
  background-color: rgb(33, 133, 208, 0.1);
}

.ui.label.attribute, .ui.label.operator, .ui.label.value {
  /* flex + ellipsis */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ui.label.left {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding-right: 5px;
}

.ui.label.middle {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding-left: 5px;
  padding-right: 5px;
}

.ui.label.right {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding-left: 5px;
}

.ui.label, .ui.label > .icon.delete {
  font-weight: 400;
  margin-left: 0;
  margin-right: 0;
}

.ui.label > .icon.delete::before {
  font-size: 11px;
}

/* suggestions dropdown */

.ui.dropdown.search {
  min-height: auto;
  max-height: 24px;
}

.ui.dropdown.search:not(.loading) > .dropdown.icon {
  display: none;
}

.ui.dropdown.search.loading > .dropdown.icon {
  margin: -14px -12px 0;
}

.ui.dropdown.search:not(.error) .menu {
  padding-top: 12px;
}

.ui.dropdown.search.error .menu, .ui.dropdown.search.error:hover .menu {
  border-color: #e0b4b4;
}

.ui.dropdown.search > input.search {
  font-size: 11px;
  top: -2px;
}

.ui.dropdown.search .menu .item, .ui.dropdown.search .menu .message {
  font-size: 11px;
  color: rgba(0,0,0,.6);
}

.ui.dropdown.search .menu .item {
  font-size: 11px;
  top: -7px;
}

.ui.dropdown.search > .text {
  font-size: 11px;
  top: -8px;
}
