.container {
  padding: 20px;
}

.title {
  margin-bottom: 24px;
}

.chiclet, .partial-chiclet {
  margin-right: 4px;
}

.ui.label.left {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.ui.label.middle {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.ui.label.right {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.ui.label, .ui.label > .icon.delete {
  font-weight: 400;
  margin-left: 0;
  margin-right: 0;
}

.ui.label > .icon.delete::before {
  font-size: 11px;
}

.ui.selection.dropdown {
  min-height: auto;
  max-height: 24px;
}

.ui.selection.dropdown > .dropdown.icon {
  display: none;
}

.ui.dropdown .menu {
  padding-top: 12px;
}

.ui.search.dropdown > input.search {
  top: -7px;
}

.ui.dropdown .menu .item, .ui.dropdown .menu .message {
  font-size: 11px;
}

.ui.dropdown .menu .item, .ui.search.dropdown.active > .text {
  font-size: 11px;
  top: -7px;
}
